/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    /* src:url('lato-v23-latin-700.eot'); */
    src: url('lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('lato-v23-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('lato-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('lato-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('lato-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('lato-v23-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('lato-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }

  .body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    /* padding-left: 2rem; */
  }

  .togglerBtn{
    position: fixed;
    top: 3rem;
    left: 1rem;
  }
  
  .main{
    background-color: white;
    /* padding-left: 2rem; */
}

.header{
/* background-color: yellow; */
padding-left: 5rem;
margin: 1rem;
padding-bottom: 2rem;
}

.vertical {
    border-left: 6px solid #D35B3A;
    height: 200px;
    /* position:absolute; */
    left: 50%;
}

.testimonial{
    border-left: 0.5rem solid #D35B3A;
    padding-left: 1rem;
    margin-bottom: 4rem;
    margin-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.testimonial p{
    color: white;
    font-size: 1.4rem;
}


.navPanel{
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: blue; */
}

.bodyOne, .bodyTwo, .bodyThree{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
    padding-left: 5rem;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.bodyTwo{
    background-color: black;
}

.bodyOne{
    background-color: #D35B3A;
}

.bodyThree{
    background-color: white;
    /* padding-left: 4rem;
    padding-right: 4rem;
    margin-left: 6rem;
    margin-right: 6rem; */
}
.accentNotes{
    font-style: italic;
}

.textBodyOne{
    flex: 1.5;
}

.textBodyOne p{
    color: white;
    font-size: 1.2rem;
}

.mktgImage{
    flex: 1;
    margin: 2rem;
}
.subtitle, .subtitleBlack{
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    margin-bottom: 1rem;
}

.label{
    margin-top: 0.5rem;
    color: #D35B3A;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.bodyThreeContainer{
    /* padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 3rem;
    margin-right: 3rem; */
}

.myButton{
    border: 0;
    background-color: transparent;
}
.subtitleBlack{
    color: black;
}

.exploreBtn{
    background-color: white;
    color: #D35B3A;
    font-weight: bolder;
    font-size: 1.5rem;
    border: white;
    border-width: 1px;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    margin-top: 1.5rem;
    /* box-shadow: 0 4px 4px gray; */
}

.homebtn:hover {
    background-color: maroon;
  }

#fixedbutton {
    justify-content: flex-end;
    bottom: 560px;
    right: 1000px; 
    width: 50px;
    /* width: 50px; */
    /* position:relative; left:80px; top:2px; */
}


/* RESET */

*, *::before, *::after {
    box-sizing: border-box;
    }

 * {
    margin: 0;
    } 

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }

table {
       border-collapse: collapse;
       border-spacing: 0;
      }

 @media only screen and (max-width: 992px) {
        .navPanel {
          display: none;
        }

        #searchIcon{
            display: none;
        }

        #gmlogo{
            align-self: center;
        }
      }

      @media only screen and (max-width: 800px) {
        #mktg {
          display: none;
        }
    }